 
# Dependencies:

uv add python-dotenv
uv add fastapi
uv add docling
uv add langchain-openai langchain-core
uv add langchain-text-splitters
uv add langchain-postgres
uv add psycopg[binary] pgvector
uv add uvicorn
uv add python-multipart
uv add docx2pdf
uv add langgraph
uv add langgraph-checkpoint
uv add cohere
uv add langsmith pdfplumber
uv add mem0ai guardrails-ai

uv add python-dotenv fastapi docling langchain-openai langchain-core langchain-text-splitters langchain-postgres langchain-community "psycopg[binary]" pgvector uvicorn python-multipart docx2pdf langgraph langgraph-checkpoint cohere langsmith pdfplumber mem0ai guardrails-ai

# Local run command:
# uv run uvicorn main:app --reload